<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.marketing.seo.description }}{{ end }}">
  <link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
  {{ $styles := resources.Get "css/site.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
</head>
